# LaTeX
*.aux
*.lb
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.watcher_pid
*.fls
*.fdb_latexmk
*.vrb
*.bbl
*.blg
*.bcf
*.run.xml

# mCRL2
*.lps
*.lts
*.trc
*.pbes
jittyc_*.cpp
*.log

!logos/*.pdf
